@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #d6d3c3;
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tape::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 1rem;
  background-color: #000;
  opacity: 0.3;
  transform: translateY(-70%) translateX(10%);
}
