@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #d6d3c3;
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


